.legend-container {
  margin-top: 20px;
  text-align: center;
}

.legend-container strong {
  display: inline-block;
  width: 100px;
  height: 30px;
  vertical-align: top;
}

.legend {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.legend li {
  float: left;
  margin-right: 10px;
}

.legend li label {
  cursor: pointer;
}

.legend li .color-box {
  display: inline-block;
  width: 10px;
  height: 7px;
  vertical-align: middle;
}
